In [1]:
#-*- coding: utf-8 -*-

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
#对数据进行基本探索
#统计缺失值和其他数字特征
pd.set_option('display.max_columns',None)
df = pd.read_csv('air_data.csv',encoding = 'utf-8')
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,FLIGHT_COUNT,BP_SUM,EP_SUM_YR_1,EP_SUM_YR_2,SUM_YR_1,SUM_YR_2,SEG_KM_SUM,WEIGHTED_SEG_KM,LAST_FLIGHT_DATE,AVG_FLIGHT_COUNT,AVG_BP_SUM,BEGIN_TO_FIRST,LAST_TO_END,AVG_INTERVAL,MAX_INTERVAL,ADD_POINTS_SUM_YR_1,ADD_POINTS_SUM_YR_2,EXCHANGE_COUNT,avg_discount,P1Y_Flight_Count,L1Y_Flight_Count,P1Y_BP_SUM,L1Y_BP_SUM,EP_SUM,ADD_Point_SUM,Eli_Add_Point_Sum,L1Y_ELi_Add_Points,Points_Sum,L1Y_Points_Sum,Ration_L1Y_Flight_Count,Ration_P1Y_Flight_Count,Ration_P1Y_BPS,Ration_L1Y_BPS,Point_NotFlight
0,54993,2006/11/02,2008/12/24,男,6,.,北京,CN,31.0,2014/03/31,210,505308,0,74460,239560.0,234188.0,580717,558440.14,2014/03/31,26.250,63163.500,2,1,3.483254,18,3352,36640,34,0.961639,103,107,246197,259111,74460,39992,114452,111100,619760,370211,0.509524,0.490476,0.487221,0.512777,50
1,28065,2007/02/19,2007/08/03,男,6,NaN,北京,CN,42.0,2014/03/31,140,362480,0,41288,171483.0,167434.0,293678,367777.20,2014/03/25,17.500,45310.000,2,7,5.194245,17,0,12000,29,1.252314,68,72,177358,185122,41288,12000,53288,53288,415768,238410,0.514286,0.485714,0.489289,0.510708,33
2,55106,2007/02/01,2007/08/30,男,6,.,北京,CN,40.0,2014/03/31,135,351159,0,39711,163618.0,164982.0,283712,355966.50,2014/03/21,16.875,43894.875,10,11,5.298507,18,3491,12000,20,1.254676,65,70,169072,182087,39711,15491,55202,51711,406361,233798,0.518519,0.481481,0.481467,0.518530,26
3,21189,2008/08/22,2008/08/23,男,5,Los Angeles,CA,US,64.0,2014/03/31,23,337314,0,34890,116350.0,125500.0,281336,306900.88,2013/12/26,2.875,42164.250,21,97,27.863636,73,0,0,11,1.090870,13,10,186104,151210,34890,0,34890,34890,372204,186100,0.434783,0.565217,0.551722,0.448275,12
4,39546,2009/04/10,2009/04/15,男,6,贵阳,贵州,CN,48.0,2014/03/31,152,273844,0,42265,124560.0,130702.0,309928,300834.06,2014/03/27,19.000,34230.500,3,5,4.788079,47,0,22704,27,0.970658,71,81,128448,145396,42265,22704,64969,64969,338813,210365,0.532895,0.467105,0.469054,0.530943,39

In [9]:
df.shape

(62988, 44)

共有62988个样本，每个样本44个特征

In [45]:
df_des = df.describe().T
df_na = pd.DataFrame([df.isna().sum(),df.isna().sum()/len(df)],index = ['缺失数','缺失率']).T

pd.concat([df_na,df_des],axis=1)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

,缺失数,缺失率,count,mean,std,min,25%,50%,75%,max
ADD_POINTS_SUM_YR_1,0.0,0.000000,62988.0,540.316965,3956.083455,0.00,0.000000,0.000000,0.000000,600000.000000
ADD_POINTS_SUM_YR_2,0.0,0.000000,62988.0,814.689258,5121.796929,0.00,0.000000,0.000000,0.000000,728282.000000
ADD_Point_SUM,0.0,0.000000,62988.0,1355.006223,7868.477000,0.00,0.000000,0.000000,0.000000,984938.000000
AGE,420.0,0.006668,62568.0,42.476346,9.885915,6.00,35.000000,41.000000,48.000000,110.000000
AVG_BP_SUM,0.0,0.000000,62988.0,1421.440249,2083.121324,0.00,336.000000,752.375000,1690.270833,63163.500000
AVG_FLIGHT_COUNT,0.0,0.000000,62988.0,1.542154,1.786996,0.25,0.428571,0.875000,1.875000,26.625000
AVG_INTERVAL,0.0,0.000000,62988.0,67.749788,77.517866,0.00,23.370370,44.666667,82.000000,728.000000
BEGIN_TO_FIRST,0.0,0.000000,62988.0,120.145488,159.572867,0.00,9.000000,50.000000,166.000000,729.000000
BP_SUM,0.0,0.000000,62988.0,10925.081254,16339.486151,0.00,2518.000000,5700.000000,12831.000000,505308.000000
EP_SUM,0.0,0.000000,62988.0,265.689623,1645.702854,0.00,0.000000,0.000000,0.000000,74460.000000
EP_SUM_YR_1,0.0,0.000000,62988.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000
EP_SUM_YR_2,0.0,0.000000,62988.0,265.689623,1645.702854,0.00,0.000000,0.000000,0.000000,74460.000000
EXCHANGE_COUNT,0.0,0.000000,62988.0,0.319775,1.136004,0.00,0.000000,0.000000,0.000000,46.000000
Eli_Add_Point_Sum,0.0,0.000000,62988.0,1620.695847,8294.398955,0.00,0.000000,0.000000,345.000000,984938.000000
FFP_DATE,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FFP_TIER,0.0,0.000000,62988.0,4.102162,0.373856,4.00,4.000000,4.000000,4.000000,6.000000
FIRST_FLIGHT_DATE,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLIGHT_COUNT,0.0,0.000000,62988.0,11.839414,14.049471,2.00,3.000000,7.000000,15.000000,213.000000
GENDER,3.0,0.000048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L1Y_BP_SUM,0.0,0.000000,62988.0,5558.360704,9351.956952,0.00,545.000000,2547.000000,6619.250000,259111.000000
L1Y_ELi_Add_Points,0.0,0.000000,62988.0,1080.378882,5639.857254,0.00,0.000000,0.000000,0.000000,728282.000000
L1Y_Flight_Count,0.0,0.000000,62988.0,6.073157,8.175127,0.00,1.000000,3.000000,8.000000,111.000000
L1Y_Points_Sum,0.0,0.000000,62988.0,6638.739585,12601.819863,0.00,700.000000,2860.500000,7500.000000,728282.000000
LAST_FLIGHT_DATE,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LAST_TO_END,0.0,0.000000,62988.0,176.120102,183.822223,1.00,29.000000,108.000000,268.000000,731.000000
LOAD_TIME,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MAX_INTERVAL,0.0,0.000000,62988.0,166.033895,123.397180,0.00,79.000000,143.000000,228.000000,728.000000
MEMBER_NO,0.0,0.000000,62988.0,31494.500000,18183.213715,1.00,15747.750000,31494.500000,47241.250000,62988.000000
P1Y_BP_SUM,0.0,0.000000,62988.0,5366.720550,8537.773021,0.00,946.000000,2692.000000,6485.250000,246197.000000
P1Y_Flight_Count,0.0,0.000000,62988.0,5.766257,7.210922,0.00,2.000000,3.000000,7.000000,118.000000
Point_NotFlight,0.0,0.000000,62988.0,2.728155,7.364164,0.00,0.000000,0.000000,1.000000,140.000000
Points_Sum,0.0,0.000000,62988.0,12545.777100,20507.816700,0.00,2775.000000,6328.500000,14302.500000,985572.000000
Ration_L1Y_BPS,0.0,0.000000,62988.0,0.468422,0.338956,0.00,0.167954,0.476747,0.728375,0.999993
Ration_L1Y_Flight_Count,0.0,0.000000,62988.0,0.486419,0.319105,0.00,0.250000,0.500000,0.711111,1.000000
Ration_P1Y_BPS,0.0,0.000000,62988.0,0.522293,0.339632,0.00,0.258150,0.514252,0.815091,0.999989
Ration_P1Y_Flight_Count,0.0,0.000000,62988.0,0.513581,0.319105,0.00,0.288889,0.500000,0.750000,1.000000
SEG_KM_SUM,0.0,0.000000,62988.0,17123.878691,20960.844623,368.00,4747.000000,9994.000000,21271.250000,580717.000000
SUM_YR_1,551.0,0.008748,62437.0,5355.376064,8109.450147,0.00,1003.000000,2800.000000,6574.000000,239560.000000
SUM_YR_2,138.0,0.002191,62850.0,5604.026014,8703.364247,0.00,780.000000,2773.000000,6845.750000,234188.000000
WEIGHTED_SEG_KM,0.0,0.000000,62988.0,12777.152439,17578.586695,0.00,3219.045000,6978.255000,15299.632500,558440.140000
WORK_CITY,2269.0,0.036023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WORK_COUNTRY,26.0,0.000413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WORK_PROVINCE,3248.0,0.051565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
avg_discount,0.0,0.000000,62988.0,0.721558,0.185427,0.00,0.611997,0.711856,0.809476,1.500000

工作省份和工作城市的缺失值较多各占3.5%和5%左右。

In [46]:
#缺失数据占比并不大，对于分析问题的影响不大，所以选择丢弃。

#除去空票价和0票价
data = df[df['SUM_YR_1'].notnull() * df['SUM_YR_2'].notnull()]  
index1 = df['SUM_YR_1'] != 0 
index2 = df['SUM_YR_2'] != 0
#除去平均折扣率为0与飞行总公里数同时为0的记录??????
index3 = (df['avg_discount'] == 0 ) & (df['SEG_KM_SUM'] == 0)
data = data[index1|index2|index3]

D:\Anaconda\lib\site-packages\pandas\core\computation\expressions.py:180: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [47]:
"""
元素数据中的数据太多，根据航空公司客户价值LRFMC模型，选择6个特征：
LOAD_TIME,  FFP_DATE,  FLIGHT_COUNT,  avg_discount,  SEG_KM_SUM,  LAST_TO_END
"""
selected_features = ['LOAD_TIME','FFP_DATE','FLIGHT_COUNT','avg_discount','SEG_KM_SUM',
                   'LAST_TO_END']
data = data[selected_features]
data.head()

    LOAD_TIME    FFP_DATE  FLIGHT_COUNT  avg_discount  SEG_KM_SUM  LAST_TO_END
0  2014/03/31  2006/11/02           210      0.961639      580717            1
1  2014/03/31  2007/02/19           140      1.252314      293678            7
2  2014/03/31  2007/02/01           135      1.254676      283712           11
3  2014/03/31  2008/08/22            23      1.090870      281336           97
4  2014/03/31  2009/04/10           152      0.970658      309928            5

In [48]:
#构建LRFMC五个特征
#L：入会时长 = 调察结束时间 - 入会时间
data['L'] = pd.to_datetime(data['LOAD_TIME']) - pd.to_datetime(data['FFP_DATE'])

#R:最近乘坐飞机与调察结束的时间间隔 
data['R'] = data['LAST_TO_END']

#F:调查期间内的飞行次数
data['F'] = data['FLIGHT_COUNT']

#M:调查期间内飞行的里程总数
data['M'] = data['SEG_KM_SUM']

#C:观察期间内乘坐舱位折扣系数的平均值
data['C'] = data['avg_discount']

data = data[['L','R','F','M','C']]

In [49]:
data.head()

          L   R    F       M         C
0 2706 days   1  210  580717  0.961639
1 2597 days   7  140  293678  1.252314
2 2615 days  11  135  283712  1.254676
3 2047 days  97   23  281336  1.090870
4 1816 days   5  152  309928  0.970658

In [50]:
#时间戳数值转int数值
data['L'] = data['L'].astype('str').apply(lambda x :int(x[0:4]))

In [52]:
data.head()

      L   R    F       M         C
0  2706   1  210  580717  0.961639
1  2597   7  140  293678  1.252314
2  2615  11  135  283712  1.254676
3  2047  97   23  281336  1.090870
4  1816   5  152  309928  0.970658

In [53]:
#特征数值差距太大，需要进行标准化处理
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(data)
data_ss = scaler.transform(data)

D:\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [58]:
from sklearn.cluster import KMeans
k_cls = KMeans(n_clusters= 5 )
k_cls.fit(data_ss)
k_cls.labels_

array([3, 3, 3, ..., 0, 2, 2])

In [63]:
k_cls.cluster_centers_

array([[-0.7002121 , -0.41489162, -0.16114387, -0.16095881, -0.25513359],
       [ 1.16067608, -0.37722423, -0.08691922, -0.09484481, -0.15590586],
       [-0.31368082,  1.68627205, -0.57402062, -0.53682451, -0.1733275 ],
       [ 0.48333235, -0.7993897 ,  2.48322162,  2.42474345,  0.30863251],
       [ 0.05184321, -0.00266815, -0.22680493, -0.23125594,  2.19136467]])

In [121]:
from collections import Counter

#统计各类别人数
count = Counter(k_cls.labels_)

#创建聚类DataFrame
df_cluster = pd.DataFrame(k_cls.cluster_centers_,columns = 'Center' +data.columns)

df_cluster['聚类个数'] = [count[0],count[1],count[2],count[3],count[4]]

df_cluster['聚类类别'] = ['客户群1','客户群2','客户群3','客户群4','客户群5',]

df_cluster

    CenterL   CenterR   CenterF   CenterM   CenterC   聚类个数  聚类类别
0 -0.700212 -0.414892 -0.161144 -0.160959 -0.255134  24659  客户群1
1  1.160676 -0.377224 -0.086919 -0.094845 -0.155906  15740  客户群2
2 -0.313681  1.686272 -0.574021 -0.536825 -0.173328  12125  客户群3
3  0.483332 -0.799390  2.483222  2.424743  0.308633   5336  客户群4
4  0.051843 -0.002668 -0.226805 -0.231256  2.191365   4184  客户群5

客户群1：入会时间短，离最近一次乘机时间间隔较短，总飞行次数低，总飞行里程低，平均折扣系数低。
从上述信息可以看出该群体属于新客户群体，可以加大宣传，并给予少了优惠政策，保持与客户的一般联系。

客户群2:入会时间长，离最近一次乘机时间间隔较短较长，总飞行次数较高，总飞行里程较高，平均折扣率较低。
从上述信息可以看出该群体属于重要挽留客户群体，应该积极收集客户的最新信息，增强与客户的互动，采取一定的营销手段，延长客户的生命周期。

客户群3：入会时间较短，离最近一次乘机时间间隔久远，总飞行次数低，总飞行里程低，平均折扣率较低。
从上述信息可以看出该群体属于低价值客户，可能是在航班打折时才回乘坐公司的航班。应积极向客户传递折扣信息

客户群4：入会时间久远，离最近一次乘机时间间隔较短，总飞行次数高，总飞行里程长，平均折扣率较高。
从上述信息可以看出该群体属于重要客户群体，对航空公司的贡献最大。应该优先将资源投放到这个群体，进行差异化管理和一对一营销。提高这类客户的忠诚度和满意度。

客户群5：入会时间较长，离最近一次乘机时间间隔较长，总飞行次数较高，总飞行里程较低，平均折扣率高。
从上述信息可以看出该群体属于重要发展客户，这类客户目前消费不大但具有很大的发展潜力。应该努力促使这类客户的消费，加强与这类客户的沟通，提示他们对航空服务的满意度，提高他们转向竞争对手的转移成本，使他们逐步成为公司的忠诚客户。